.nav {
    display: flex;
    padding-top: 10px;   
    width: 100%; 
    border-bottom: 2px solid black;
    border-top: 2px solid white;
    padding-bottom: 15px; 
}

.nav-item {
    flex: 1;
    font-weight: bold;
    font-size: 14px;
}
/* .nav-item:nth-child(odd) {
    margin: 0px 10px;
} */
.content {
    padding: 10px;
    background-color: black;
    margin: 10px;   
    font-weight: 400;   
}

.link{
    color: rgb(243, 30, 101);
    text-decoration: none;
}
.link:hover {
    color: rgb(4, 245, 44);
}
.link:focus {
    color: gray;
}

@media screen and (min-width: 600px) {
    .nav-item {
        flex: 1;
        font-weight: bold;
        font-size: 18px;
    }

}