@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Define our color variables */

html {
  background-color: white;
  --secondary-color: white;
}

/* Redefine our color variables if the data-theme attr
  value is "dark
*/
html[data-theme="dark"] {
  background-color: rgb(2, 22, 32);
  color: rgb(146, 145, 145);
 
}

.App {
  text-align: center;
}
html {
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  background-color: rgb(211, 211, 211);
  padding: 10px;
  height: 300px;
}
.grid-item {
  background-color: black;
  border: 1px solid rgba(121, 119, 119, 0.8);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.grid-item1 {
  background-color: black;
  border: 1px solid rgba(121, 119, 119, 0.8);
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  color: rgb(247, 243, 48);
}

.texto {
  background: black;
  padding: 10px;
  margin: 20px 10px;
  font-size: 17px;
  font-weight: 400;
  color: lightgrey;
}

.texto-2 {
  background: rgb(134, 134, 134);
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  font-weight: 400;
  color: orangered;
}

@media screen and (min-width: 600px) {
  .grid-item1 {
    width: 20%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
  }
}

/* CSS styling for our switch */
/* This switch was styled with the help of w3schools */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch_container {
  text-align-last: right;
  margin-right: 25px;
  margin-top: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(219, 53, 108);
}

input:focus + .slider {
  box-shadow: 0 0 1px yellow;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
