@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



.App {
  text-align: center;
  
}
.CircularProgressbar-path {
  stroke: red;
}
.CircularProgressbar-trail {
  stroke: gray;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar-background {
  fill: green;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  background-color:rgb(211,211,211);
  padding: 10px;
  height: 300px;
}
.grid-item {
  background-color: black;
  border: 1px solid rgba(121, 119, 119, 0.8);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white; 
  
}
.grid-item1 {
  background-color: black;
  border: 1px solid rgba(121, 119, 119, 0.8);
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(247, 243, 48);
  
}

.texto {
  background: black;
  padding: 10px;
  margin: 20px 10px;
  font-size: 17px;
  font-weight: 400;
  color: lightgrey;
}

.texto-2 {
  background: white;
  padding: 10px;
  margin: 10px ;
  font-size: 17px;
  font-weight: 400;
  color: orangered;
}

@media screen and (min-width: 600px) {
  .grid-item1 {
    width: 20%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 100;
  }
  
}
