.container_W {
    width: 97.5%;
      padding: 5px;
   
      margin-top: 20px;
      margin: 0 auto;
      color: black;
     font-size: 18px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
  }
