.projContainer {
    margin: 0 auto;
    margin-top: 30px;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-template-rows: 600px 600px;
    text-align: center;
}


.proj {
    width: 100%;
    height: 350px;
}
iframe {
    height: 500px;
}

.projectLink {
    color: rgb(134, 133, 133);
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}


@media only screen and (max-width: 600px) {
    .projContainer{
        text-align: center;
        margin: auto;
        padding:25px;
    }
}

